body {
  background-color:rgb(49, 58, 71) ;
}

.card {
  background-color: rgb(83, 91, 99);
  color: white;
}

.btn-secondary {
  color: black;
}

td:has(> a) {
  width: 100%;
}
td a {
  padding: 1rem !important;
  font-size: larger !important;
}
