body {
  background-color:rgb(49, 58, 71) ;
}

.btn-secondary {
  color: black;
}

td:has(> a) {
  width: 100%;
}
td a {
  padding: 1rem !important;
  font-size: larger !important;
}

ul{
  justify-content: center;
}

p{
 font-weight: bold;
}

.list-group-item {
  background-color: rgb(49, 58, 71);
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.navbar {
  font-weight: bold;
}